body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}


$width:1200px;

/*头部广告栏*/
#wrap-title{
   width: 100%;
   background:#061864;
   height: 80px;
}

#title{  
    position: relative; 
    width: $width;
    margin:auto;
    cursor: pointer;
    
}

#title span{
    position: absolute;
    display: block;
    top: 8px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(../images/ui.png);
    background-position:  -72px -466px;
}
#title span:hover{
    width: 16px;
    height: 16px;
    background: #000;
    opacity: .3;    

}

/*************************国美会员   我的订单*********************/
#wrap-top{
    margin: 0 auto;
    height: 20px;
    background: #f8f8f8;
    border-bottom:1px solid #f3f3f3;
    font-size: 11px;
    color: #a496b5;
    padding-top: 10px;
    position: relative;      
}
#top{
    width: 1200px;
    margin: 0 auto;
}

.listvip{
//  margin-left: 123px;
    height: 20px;
    width: 190px; 
         
} 
.listvip li{
        float: left;       
} 
.listvip li a:hover{
    color: red;
}

.vip1{
    position: relative;  
    width: 60px;                    
}
.vip1 span{
        width: 13px;
        height: 8px;
        position: absolute;
        display: block;
        top: 3px;
        left:47px;
    //  background: red;
        background: url(../images/ui.png);
        background-position:-60px -480px ;    
}
.vip1 span:hover{
    background-position:-60px -493px;      
}
    
.vip2{
    margin-left: 21px;
}
        
.vip3 a{
    display: block;
    width: 66px;
    margin-left: 10px;
    color:red;
    position: relative;        
    }
.vip3 span{
    width: 12px;
    height: 13px;
    position: absolute;
    display: block;
    top: 0;
    right:0;
    background: url(../images/ui.png);
    background-position:-145px -1496px ;    
}    

#gmhy{
    position: absolute;
    top: 20px;
    display:none;
    width: 322px;
    height: 216px;
    border: 1px solid #f3f3f3;
    border-top: none;
    background: #fff;
    p{
        margin-left: 14px;
        margin-top: 17px;
        a{
            display: block;
            float: right;
            margin-right: 14px;
            color: #CCCCCC;
        }
        a:hover{
            color: red;
        }
    }
}

#pic{
    width:290px ;
    height: 76px;
    border-bottom: 1px solid #F3F3F3;
    margin-left: 14px;
    margin-top: 14px;
        
}

#pic li:nth-child(1) a{  
    display: block;     
    width: 55px;
    height: 55px;
    background: url(../images/ui.png);
    background-position:0px -337px ;    
}

#pic li:nth-child(2){
    margin-left: 15px;
    margin-top: 22px;
}

#pic li:nth-child(3) a{
    display: block;
    margin-left: 7px;
    margin-top: 22px;
}

/*******************************我的订单*************************************/
.dingdan{
    position: absolute;
    width: 508px;
    height: 20px;
    margin-top: -20px;
    margin-left: 816px;
   
}
.dingdan li{
    float: left;
    margin-right: 20px;    
}

.dingdan li a:hover{
    color: red;
}


#wodeguomei{
  position: absolute;   
  top: 20px;
  display: none;     
  width: 260px;
  height: 300px;
  border: 1px solid #f3f3f3;
  border-top: none;
  p{
      color: #8888a5;
      margin-left: 10px;
      margin-top: 16px;
      a{
          color: #006699;
      }
  }
  .daichulidingdan{
      margin-left: 10px;
      margin-top: 13px;
      height: 80px;
      width: 240px;
      border-bottom: 1px solid #F3F3F3;
      li{
          margin-bottom: 13px;
          margin-right: 60px;
      }
  }
  .hongquan{
      margin-top: 12px;
      margin-left: 10px;
      margin-bottom: 39px;
      width: 260px;      
      li{
          width: 40px;
          border-right: 1px solid #F3F3F3;
          text-align: center;          
      }
      li:last-child{
          border-right: none;
      }
  }
  .zuji{
      background: #f8f8f8;
      width: 260px;
      height: 112px;
      margin-top:63px;
      margin-left: 0;
      span{
          display: block;
          padding-top: 15px;
          margin-left: 10px;
      }      
  }
  
}

/************************LOGO 搜索框  购物车***********************/    
#header{
    height: 120px;
    margin: auto;     
    width: 1200px; 
}

.logo a{ 
    display: block;
    width:127px ;
    height: 58px;
    margin-top: 32px;   
    background: url(../images/ui.png);
    background-position: -97px -1247px ; 
    float: left;  
}

#search{
    margin-top:32px ;
    margin-left: 260px;
    width:500px ;
    height: 60px; 
    float: left;   
}
.check{
    width: 62px;
    height: 30px;
    border: 1px solid #dd00a7;
    float: left;
    p{
        color: #b8adad;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
             
    }
}
.shangpin{
    display: none;
    position: absolute;
    background: white;
    width: 62px;
    height: 120px;
    margin-left: -1px;
    border: 1px solid #dd00a7;
    li{
        font-size: 12px;
        height: 30px;
        line-height: 30px;       
        text-align: center;
        a{
            color: #b8adad;
//            margin-top:14px ;
        }
    }
    li:hover{
        background: #CCCCCC;
    }
}


#search-box{
    height: 30px;
    width: 344px;    
    float: left;
    #s-box{
        width: 344px;
        height: 28px;
        border: 1px solid #dd00a7;
        border-left:none;
    }
}
#list{
    position: absolute;
    width: 406px;
    margin-left: -64px;
    background:white;
    z-index: 999;
    border: 1px solid #CECECE;
    border-top: none;
    li{
        width: 400px;
        height: 30px;
        border-bottom:1px solid #CECECE ;
        list-style: none;
        
        a{
            text-decoration: none;
        }
    } 
}

#s-btn{
    float: left;
    width:91px ;
    height:32px;
    background:#dd00a7 ;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
}
#link li{
    font-size: 11px;
    float: left;
    margin-right: 9px;
    margin-top: 5px;
}
#link li a{
    color: #a5a5a5;    
}
#link li a:hover{
    color: red;    
}
#link li:first-child a{
    color: red;
}

#cart{
    width: 142px;
    height: 34px;
    margin-left: 162px;
    margin-top:32px ;
    float: left;    
    font-size: 12px;
    background: #FfFfF3;
    span{
        display: block;
        float: left;
        margin-left: 10px;
        margin-top: 12px;
        width: 28px;
        height: 22px;       
        background: url(../images/ui.png);
        background-position: -100px -700px;
    }
    a{
        display: block;
        float: left;
        margin-top: 14px;
        margin-left: 8px;   
    }
    a:hover{
        color: red;
    }
    p{
        width: 280px;
        height: 100px;
        background: #FfFfF3;
        float:right;
        display: none;
        color: #a5a5a5;
        margin-left: 60px;
        line-height: 100px;
        z-index: 1;
        a{
            color: #000;
            display: block;
            margin-left:40px;
            margin-top: 0;
        }
    }
}
/********************导航栏**********************/
#nav-wrap{
    margin: 0 auto;  
    height: 40px;
    background: #f8f8f8;
    cursor: pointer;
}
#nav{
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  background: #f8f8f8;
  #nav-left{
    width: 200px;
    height: 40px;
    background: #f2f2f2;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    float: left;
  }
  #nav-center{
    width: 720px;
    height: 40px;
    background:#f8f8f8;
    float: left;
    ul{
        float: left;
      li{
        float: left;
        margin-left: 13px;
        margin-right: 13px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
      }
      li a:hover{
        color: red;
      }
    }
  }  
}
//导航条右侧
#nav-right{
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 40px;
    float: right;
    ul{
        width: 170px;
        height: 120px;
        position: absolute;
        li{
            position: relative;
            width: 170px;
            height: 40px;
            img{
                display: block;
                float: left;
                width: 170px;
                height: 40px;
            } 
        }
    }    
}


/******************banner 大轮播*****************/
//轮播图模块
#banner{
  width: 1200px;
  margin: 0 auto;
  height: 450px;  
  #banner-left{    
    width: 200px;
    height: 450px;
    float: left;
    ul{
      position: relative;
      
      //-------------------二级导航------------
      .class2{
        width: 1000px;
        height: 450px;
        position: absolute;
        top: 0px;
        left:185px;
        background:gainsboro;
        display: none;
        z-index: 5;
        .class2-left{
          width: 750px;
          height: 450px;
          border-right: 1px solid pink;
          float: left;
          ul{
            overflow: hidden;
            margin-top: 20px;
            li{
              float: left;
              width: auto;
              height: 20px;
              background: red;
              text-align: center;
              line-height: 20px;
              font-size: 12px;
              color: white;
              margin-left: 10px;
              padding: 2px;
            }
          }
          p{
            font-size: 12px;
            line-height: 16px;
            color: grey;
            padding-left: 10px;
            margin-top: 20px;
            span{
              font-size: 16px;
              line-height: 18px;
              margin-right: 20px;
            }
          }
          p span:hover{
            color: red;
          }
        }
        //二级菜单右部品牌logo
        .class2-right{
          width: 249px;
          height: 450px;
          background:white;
          float: left;
          ul{
            overflow: hidden;
            width: 250px;
            float: left;
            li{
              width: 70px;
              float: left;
              background: white;
              margin: 20px;
              img{
                width: 70px;
                height: 35px;
              }
            }
          }
        }
      }
      li{
        width: 200px;
        height: 30px;
        padding-left: 15px;
        height: 30px;
        line-height: 30px;
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 1px;
        background: #cecece;
        color: white;
        position: relative;
        cursor: pointer;
        a{
          margin-right: 5px;
          font-size: 16px;
          line-height: 30px;
        }
        //鼠标滑过效果
        a:hover{          
          color: red;
        }
      }

      //滑过li的效果
      li:hover{
        background: white;
        color: black;
      }

    }
  }
}
//----------------------轮播图----------------------

#container {
  width: 750px;
  height: 450px;
  overflow: hidden;
  position: relative;
  left: -14px;
  float: left;
}
#lunbo-list {
  width: 5250px;
  height: 450px;
  position: absolute;
  z-index: 1;
}
#lunbo-list img { float: left;}
#buttons {
  position: absolute;
  height: 10px;
  width: 900px;
  z-index: 2;
  bottom: 20px;
  left: 250px;
}
#buttons span {
  cursor: pointer;
  float: left;
  width: 30px;
  height: 5px;
  background: #333;
  margin-right: 5px;
}
#buttons .on {  background: #f5004b;}
.arrow {
  cursor: pointer;
  display: none;
  line-height: 39px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: 180px;
  background-color: RGBA(0,0,0,.3);
  color: #fff;
}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { display: block;}
#prev { left: 20px;}
#next { right: 20px;}

//----------------------轮播图--over--------------------
//快讯--------------bgine------
#banner-right{
  width: 250px;
  height: 430px;
  position: relative;
  overflow: hidden;
  left: -15px;
  top: 10px;
  background: #e7e6eb;
  float: left;
  .news{
    width: 220px;
    height: 36px;
    h2{
      font-size: 16px;
      line-height: 36px;
      float: left;
    }
    a{

      float: right;
      font: 12px/1.5 arial,"\65b0\5b8b\4f53";
      line-height: 36px;
    }
  }
  span{
    width: 250px;
    height: 26px;
    //background:white;
    overflow: hidden;
    font-size: 12px;
    line-height: 26px;
    float: left;
    font-family: Arial,"Microsoft Yahei";
    a{
      color: #5e5e5e;
      margin-left: 10px;
    }
  }
  .news-img{
    width: 250px;
    height:216px;
    float: left;
    background: #e7e6eb;
    border-top:1px dashed grey ;
    img{
      width: 210px;
      height:210px;
      padding:20px;
      float: left;
    }
  }
  .new-bottom{
    width: 250px;
    height: 60px;
    margin-top: 40px;
    float: left;
    img{
      width: 250px;
      height: 60px;
    }
  }
}


/*******************每日必抢********************/
#everyday{
    width: 1200px;
    margin: 0 auto;
    margin-top: 470px;
    height: 252px;
}
#everyday-left{
    height: 250px;
    width: 950px;
    border: 1px solid #CECECE;
    float: left;
    #meiri{
        height: 40px;
        border-bottom: 1px solid #cccccc;
        img{
            height: 40px;
            width: 40px;
            float: left;
        }
        span{
            display: block;
            float: left;
            font-size: 18px;
            line-height: 40px;
            margin-left: 10px;
        }
        
    }
    #shangpinlunbo{
        width: 950px;
        height: 208px;
        overflow: hidden;
        position: relative;
        .ltp{
            width: 2850px;
            height: 208px;
            position: absolute;
            li{
                position: relative;
                width: 950px;
                height: 208px;
                float: left;
                img{
                    display: block;
                    float: left;
                    width: 950px;
                    height: 208px;
                }
            }
        }
        .syz{
            width:20px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            display: none;
            position: absolute;
            left: 10px;
            top: 100px;
            background: #999999;
        }
        .xyz{
            width: 20px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            display: none;
            position: absolute;
            right: 10px;
            top: 100px;
            background: #999999;
        }
        &:hover .xyz{
            display: block;
        }
        &:hover .syz{
            display: block;
        }
    }
}

#everyday-right{
    width: 241px;
    height: 252px;
    float: right;
}

/******************优惠券*********************/
#discont{
    height:110px;
    width: 1206px;
    margin: 0 auto;
    margin-top:44px;
    overflow: hidden;
    
}
  //领券中心
  #dis-a1{
    width: 122px;
    height: 110px;
    float: left;
  }
//  购物券
  a{
    float: left;
    margin: 0px;
    padding: 0px;
  }

/******************金融*********************/
#fin{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  h2{
    font-size: 18px;
    color: #333;
    margin-top: 28px;
    _margin-top: 29px;
    font-weight: 400;
    float: left;
  }
  span{
    display: block;
    float: left;
    font-size: 20px;
    color: #ccc;
    padding: 27px 0 0 9px;
    font-family: Arial;
  }
}
//金融图片列表
.fin-pic{
  width: 1200px;
  height:230px;
  margin: 0 auto;
  img{
    display: block;
    float: left;
    border-right: 1px dashed gainsboro;
  }
}

//#content{
//  margin:20px auto;
//}
//.ff{
//  width: 1200px;
//  margin:20px auto;
//}
//#f1{
//  height: 540px;
//  background: red;
//}


//----------1楼 手机通讯
#content{
  margin: 20px auto;
}
#content .ff{
  width:1200px;
  margin: 20px auto;
}
.ff{
  width:1200px;
  height:540px;
  margin: auto;
  .f1-title{
    width: 1200px;
    height: 70px;
    float: left;
    h2{
      width: 220px;
      height: 70px;
      font-weight: 500;
      line-height: 100px;
      font-size: 20px;
      float: left;
      text-align: center;
    }
        //  选项卡--------tab--------------
    #tab{
      width: 980px;
      height: 70px;
      float: left;
      background: white;
      li{
        height: 30px;
        float: left;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
        margin: 30px 10px;
        padding: 5px 15px;
        color: black;
        background: white;
      }
      li:hover{ background: #719ef7;color: white}
    }//  选项卡----------over
  }
}


//1楼左侧 图
#f1-left{
  width: 220px;
  height: 470px;
  float: left;
  background: white;
  //小米品牌专场图片--------
  .xiaomi{
    display: block;
    width: 220px;
    height: 278px;
    float: left;
    overflow: hidden;
    img{
      width: 220px;
      height: 278px;
      float: left;
    }
  }
  //小米品牌专场图片over---------
  //手机、充值。。。。
  #brand{
    width: 210px;
    height: 30px;
    background: #6294f6;
    font-size: 16px;
    line-height: 30px;

    float: right;
    a{
      margin-left: 10px;
      color: white;
    }
    a:hover{
      text-decoration: underline;
    }
  }
//  -----------------


}
//  品牌名字
#phone-name{
  width: 210px;
  height: 160px;
  background: #719ef7;
  float: right;
  ul{
    width: 210px;
    overflow: hidden;
    li{
      float: left;
      height: 28px;
      font-size: 14px;
      line-height: 28px;color: white;
      padding: 0px 8px;
    }
    li:hover{
      text-decoration: underline;
    }
  }
}
//一楼右侧小轮播图+选项卡--------------------------------begin
#f1-right{
  width: 980px;
  height: 470px;
  float: left;
}
﻿.active
{
  background:#9CC;
}
.div2{
  width: 980px;
  height: 470px;
  display:none;
  float: left;
  border-top: 1px solid blueviolet;
}
//一楼右侧小轮播图+选项卡--------------------------------over
//第一个内容区f1-tab1
#swiper{
      width: 389px;
      height: 470px;
      position: relative;
      overflow: hidden;
      float: left;
  #swiper-list{
    width: 1556px;
    height: 470px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    li{
      width: 389px;
      height: 470px;
      float: left;
      img{
        width: 389px;
        height: 470px;
      }
    }
  }
}
//选项卡中图片内容
.swiper-pic{
  width: 591px;
  height:470px;
  float: left;
  img{
    width: 197px;
    height: 234px;
    float: left;
    margin-top: 1px;
  }
}

//时尚新品tab内容
.content2{
  width: 990px;
  height: 470px;
  a{
    display: block;
    width: 190px;
    height: 230px;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: 2px;
    float: left;
    img{
      width: 130px;
      height: 130px;
      margin-top:30px;
      margin-left: 30px;
    }
    .p_name{
      width: 157px;
      height: 36px;
      margin-left: 20px;
      overflow: hidden;
      line-height: 18px;
      font-size: 12px;
      color: #5e5e5e;
    }
    .p_price{
      height: 20px;
      line-height: 26px;
      color: #ff0027;
      font-size: 14px;
      font-family: "Arial "\9;
      font-family: Arial,"Microsoft Yahei";
      margin-left: 20px;
    }
  }
}

#server{
  width: auto;
  height: 430px;
  margin: 0px;
  padding: 0px;
  .ser-cont{
    width: 1200px;
    height: 430px;
    background: gainsboro;
  }
}
.ser-cont{
  .ser-cont-1{
    width: 294px;
    height: 430px;
    background: none;
    float: left;
    position: relative;
    a{
      display: block;
      width: 294px;
      height: 287px;
      position: relative;
      img{
        width: 294px;
        height: 287px;
        overflow: hidden;
      }
    }
  }
}

.ser-gain{
  width: 294px;
  height: 30px;
  background: black;
  opacity: .7;
  position: absolute;
  top: 260px;
  span{
    color: white;
    line-height: 30px;
    font-size: 14px;
    margin: 0px 20px;
    text-align: center;
  }
}
.ser-phone{
  color:white;
  width: 294px;
  height: 30px;
  background: #3abe8f;
  float: left;
  span{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
    color: white;
  }
  span:hover{
    text-decoration: underline;
  }
}
.ser-news {
  width: 294px;
  height: 110px;
  background: #62c8a3;
  float: left;
  span {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    color: white;
  }
  span:hover{
    text-decoration: underline;
  }
}

.ser-cont-2{
  width: 200px;
  height: 430px;
  float: left;
  margin-left: 2px;
  img{
    margin-bottom: 15px; ;
  }
}
.ser-cont-3{
  width: 294px;
  height: 287px;
  margin-left: 5px;
  float: left;
  position: relative;
  a{
    width: 294px;
    height: 40px;
    background: black;
    opacity: .6;
    position: absolute;
    bottom: 0px;
  }
  span{
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
    margin-left: 50px;
    margin-bottom: 5px;
  }
  p{
    width: 294px;
    height: 35px;
    background: #c19c51;
    color: white;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
  }
  .words{
    width: 294px;
    height: 110px;
    background: #ccad6f;
   b{
     width: 294px;
     height: 30px;
     display: block;
     float: left;
     color: white;
     font-size: 14px;
     line-height: 30px;

   }
  }
}

.ser-cont-4{
  width: 400px;
  height: 400px;
  float: left;
  img{
    width: 200px;
    height: 200px;
    float: left;
  }
}


.help{
  width: 1200px;
  height: 222px;
  margin: 20px auto;
  padding: 0px;
  .list{
    width: 1200px;
    height: 72px;
    background: #f5f5f5;
    li{
      width: 369px;
      height: 72px;
      float: left;
      margin-left: 30px;
      img{
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
        margin: 15px;
      }
      span{
        float: left;
        text-align: center;
        line-height: 72px;
      }
      span:hover{color: red}
    }
  }
}

//物流配送
.wuliu{
  width: 1200px;
  height: 150px;
  .foot-list{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 80px;
    span{
      font-size: 16px;
      font-weight: 900;
      line-height: 30px;
      float: left;
    }
    ul{
      width: 150px;
      overflow: hidden;

      li{
        width: 150px;
        height: 20px;
        float: left;
        font-size: 14px;
        line-height: 20px;
      }
      li:hover{
        color: red;
      }
    }
  }
}

#footer{
  width: 1200px;
  height: 203px;
  margin: 20px auto;
  padding-top: 30px;
  border-top: 1px solid grey;
  #gome-foot{
    width: 1200px;
  }
}


/********************楼梯************************/
#floorNav{
  display: none;
  position: fixed;
  top: 100px;
  left: 20px;
  width: 70px;
  border: 1px solid #CECECE;
}
#floorNav li{
  position: relative;
  width: 70px;
  height: 32px;
  border-bottom: 1px solid #CECECE;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
}

#floorNav span{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 32px;
  background: red;
  color: white;
}

#floorNav li:hover span,#floorNav li.hover span{
  display: block;
}
#floorNav li:last-child{
  background: red;
  color: white;
  border-bottom: none;
}
#content{
  margin: 20px auto;
}
#content .ff{
  width:1200px;
  margin: 20px auto;
}


